.no-events-display {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.side-link-icon {
  width: 40px;
  height: 40px;
}

.side-link {
  &:hover {
    transform: translateY(-1px);
  }
}

.side-bar a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.text-decoration-none {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 140px - 56px);
  width: 120px;
  text-align: center;
  padding-top: 24px;
  border-right: 1px solid grey;
}

.side-link {
  padding: 8px;
  border: 1px solid white;
  background-color: $green;
  text-align: center;
  width: 88px;
  margin-bottom: 16px;
  color: white;
  &:hover {
    color: white;
  }
}

.side-bar img {
  filter: invert(1);
}

.side-link.active {
  background-color: limegreen;
}