    <h1 class="profile-top"> Hi! I'm <%= @user.first_name %> </h1>
    <div class="profile">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, class: "avatar-extra-large" %>
    <% else %>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg" alt="" width=700px>
    <% end %>

    <% user_age = ((DateTime.now - @user.birthday.to_date)/365).floor %>
    <p class="mt-4"> Age: <%= user_age %></p>
    <%= simple_format(@user.description) %>
  </div>
