<footer class="py-3 border-top my-footer">
  <div class="row h-40">
  <div class="col-4 my-auto text-center justify-items-middle"></div>
  <div class="col-4 my-auto text-center justify-content-center">
    <a href="https://www.facebook.com/sectionl.tokyo" class="fab fa-facebook-square sns" target="_blank"></a>
    <a href="https://www.instagram.com/staysection_l/" class="fab fa-instagram sns" target="_blank"></a>
    <a href="#" class="fab fa-twitter sns" target="_blank"></a>
    <p>Created by Aki, Shinya and Hayato.</p>
    <p>2020</p>
  </div>
</footer>
