<footer class="pt-4 pt-md-5 border-top my-footer">
  <div class="row h-100">
  <div class="col-4 my-auto text-center justify-items-middle">
  </div>
  <div class="col-4 my-auto text-center justify-content-center">
    <p>Created by Aki, Shinya and Hayato.</p>
    <p>2020</p>
  </div>
  <div class="col-4 my-auto text-center justify-content-center">
  </div>
</footer>