
<di class="container-fluid">
  <div class="container-cards-events">
    <% @events.each do |event| %>
      <div class="card-event">
        <div class="card-event-picture">
          <h3>Drinking with Friends</h3>
          <p>Jill's Bar, 3-1-27 Dogenzaka, Shibuya</p>
        </div>
        <div class="card-event-info">
          <div class="card-event-info-left">
            <div class="card-event-info-left-date">
              <h3>7th</h3>
              <div class="card-event-info-left-date-stacked">
                <h5>Jul</h5>
                <h5>(Fri)</h5>
              </div>
            </div>
          </div>
          <div class="card-event-info-right">
            <img class="avatar rounded-circle" src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="FACE">
            <h3>2/6 capacity</h3>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</di>


