
<div class="container-fluid">
  <div class="container-cards-events">
    <% @events.each do |event| %>
      <div class="card-event">
        <div class="card-event-picture">
          <h1 class="event-title"><%= event.title %></h1>
          <p class="event-venue"><%= event.venue %></p>
        </div>
        <div class="card-event-info">
          <div class="card-event-info-left align-items-center">
            <div class="card-event-date d-flex align-items-center" style="height:  100%;">
              <h3>7th</h3>
              <div class="card-event-info-left-date-stacked">

                <h5>Jul</h5>
                <h5>(Fri)</h5>
              </div>
            </div>
          </div>
          <div class="card-event-info-right">
            <img class="card-event-avatar" src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="FACE">
            <p><%= event.user.email %></p>
            <p><%= event.capacity %> capacity</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


