<header class="header">
  <!-- Header Content -->
  <div class="header__content">
    <div class="container">
      <!-- Title -->
      <h1 class="site-name">More delicious together.</h1>
      <!-- end Title -->
    </div>
  <!-- end Header Content -->
  </div>
</header>
