<header class="header">
  <!-- Header Content -->
  <div class="header_content">
    <h1 class="site-name">More delicious together.</h1>
    <%= link_to "Find like-minded dine buddy", events_path, class: "btn btn-outline-primary button-green" %>
  <!-- end Header Content -->
  </div>

  <div class="home-content">
  </div>
</header>
