.card-event {
  flex: 0 2 100%;
  max-width: 100%;
  height: 460px;
  background-color: #BCBDA8;
  padding: 20px;
  min-width: 340px;
}


@media screen and (min-width: 45em) {
  .card-event {
  flex: 0 2 calc(50% - 1em);
  }
}

@media screen and (min-width: 72em) {
  .card-event {
  flex: 0 2 calc(33% - 1em);
  }
}

.card-event-picture {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.8) 100%), url("https://images.unsplash.com/photo-1543007630-9710e4a00a20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80");
  background: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 30%, rgba(0, 0, 0, 0.8) 100%), url("https://images.unsplash.com/photo-1543007630-9710e4a00a20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80");
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 30%, rgba(0, 0, 0, 0.8) 100%), url("https://images.unsplash.com/photo-1543007630-9710e4a00a20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80");
  min-width: 300px;
  background-size: cover;
  height: 300px;
  margin: 0 auto;
  background-position: center;
  text-align: center;
  color: white;
  position: relative;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .5);
}

.event-title {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  line-height: 300px;
  font-size: 64px;
}

.event-venue {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  bottom: 32px;


}

.card-event-info {
  background: white;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .5);
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  height: 120px;
}

.card-event-info-right {
  position: relative;
  text-align: center;
}

.card-event-avatar {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: -50px;
  right: 16px
}

// @media screen and (max-width: 50em) {
//   .card-event {
//     flex-basis: 70%;
//   }
// }

// @media screen and (max-width: 35em) {
//   .card-event {
//     flex-basis: 100%;
//   }
// }

// .card-event img {
//   object-fit: cover;
//   height: 100px;
//   width: 100px;
//   filter: brightness(1);
// }

// .card-event-info {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   line-height: 10px;
//   font-size: 12px;
//   padding: 15px;
//   position: relative;
// }
// .card-event-info h3, p {
//   margin: .4em;
// }
// .card-event-info p {
//   color: #313639;
// }
// .card-event-info img {
//   border-radius: 50%;
//   object-fit: cover;
//   width: 40px;
//   height: 40px;
//   object-position: 0 0;
//   position: absolute;
//   top: -20px;
//   border: 1px solid white;
//   box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
// }




// .drink-card {
//   display: flex;
//   align-items: center;
//   height: 150px;
//   width: 100%;
//   flex-basis: 33%;
//   margin-bottom: 5px;
//   border-radius: 5px;
//   background: rgb(152,152,152);
//   background: linear-gradient(180deg, rgba(152,152,152,0.8673844537815126) 0%, rgba(70,70,70,1) 100%);
//   transition: background-color 0.2s, color 0.2s;
//   &:hover {
//     text-decoration: none;
//     background-color: grey;
//     transform: translateY(-1px);
//     transition: background-color 0.2s;
//     h2 {
//       color: orange;
//       transition: color 0.2s;
//     }
//   }
//   &:active {
//     transform: transateY(1px);
//   }
// }

// .drink-cards-container::after {
//   content: '';
//   flex: auto;
// }

// .drink-card-body {
//   word-wrap: break;
//   width: 100%;
//   padding: 10px;
//   text-align: center;
// }

// .drink-card-body h2 {
//   word-break: break-word;
//   text-decoration: none;
//   color: white;
// }

// .drink-card img {
//   height: 100%;
//   object-fit: cover;
//   width: 35%;
//   border-top-right-radius: 5px;
//   border-bottom-right-radius: 5px;
// }


