h1, h2, h3, h4, h5, h6 {
  font-family: roboto;
  font-weight: lighter;
}

.card-event {
  flex: 0 2 100%;
  max-width: 100%;
  height: 470px;
  background-color: #989884;
  padding: 20px;
  min-width: 330px;
  font-family: roboto;
  font-weight: lighter;
  transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
  &:hover {
    text-decoration: none;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
    background-color: #e8e7b2;
    transform: translateY(-1px);
    transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
  }
  &:active {
    transform: transateY(1px);
  }
}
@media screen and (min-width: 45em) {
  .card-event {
  flex: 0 2 calc(50% - 1em);
  }
}
@media screen and (min-width: 72em) {
  .card-event {
  flex: 0 2 calc(33% - 1em);
  }
}
@media screen and (min-width: 100em) {
  .card-event {
  flex: 0 2 calc(25% - 1em);
  }
}

.card-event-picture {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.8) 100%), cl_image_tag(restaurant.photo.key);
  background: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 30%, rgba(0, 0, 0, 0.8) 100%), cl_image_tag(restaurant.photo.key);
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 30%, rgba(0, 0, 0, 0.8) 100%), cl_image_tag(restaurant.photo.key);
  min-width: 300px;
  background-size: cover;
  height: 300px;
  margin: 0 auto;
  background-position: center;
  text-align: center;
  color: white;
  position: relative;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .5);
}

.event-title {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  line-height: 300px;
  font-size: 64px;
}

.event-venue {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  bottom: 32px;
}

.card-event-info {
  background: white;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .5);
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  height: 120px;
}

.card-event-info-right {
  position: relative;
  text-align: center;
  width: 104px;
  word-wrap: break-word;
  line-height: 1.3;
  padding-top: 8px;
}

.card-event-avatar {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: -56px;
  right: 18px;
}

.card-event-date-stacked {
  text-align: center;
}

// .card-event-info {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   line-height: 10px;
//   font-size: 12px;
//   padding: 15px;
//   position: relative;
// }
// .card-event-info h3, p {
//   margin: .4em;
// }
// .card-event-info p {
//   color: #313639;
// }
// .card-event-info img {
//   border-radius: 50%;
//   object-fit: cover;
//   width: 40px;
//   height: 40px;
//   object-position: 0 0;
//   position: absolute;
//   top: -20px;
//   border: 1px solid white;
//   box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
// }




// .drink-card {
//   display: flex;
//   align-items: center;
//   height: 150px;
//   width: 100%;
//   flex-basis: 33%;
//   margin-bottom: 5px;
//   border-radius: 5px;
//   background: rgb(152,152,152);
//   background: linear-gradient(180deg, rgba(152,152,152,0.8673844537815126) 0%, rgba(70,70,70,1) 100%);
//   transition: background-color 0.2s, color 0.2s;
//   &:hover {
//     text-decoration: none;
//     background-color: grey;
//     transform: translateY(-1px);
//     transition: background-color 0.2s;
//     h2 {
//       color: orange;
//       transition: color 0.2s;
//     }
//   }
//   &:active {
//     transform: transateY(1px);
//   }
// }

// .drink-cards-container::after {
//   content: '';
//   flex: auto;
// }
