.container-cards-events {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.container-light-pink {
  background-color: $lightest-pink;
}

.container-white {
  background-color: white;
}
