.my-footer {
  bottom: 0;
  width: 100%;
  background-color: $light-orange;
  text-align: center;
  color: white;
  text-decoration: none;
}

.my-footer .col-4 {
  text-align: center;
}

.my-footer a {
  text-decoration: none;
  color: white;
}
